.history
history_data
**/__pycache__
**/*.pyc
**/*.pth
**/*.txt
**/*.h5
**/*.json
**/*.bin
**/*.lst

**/*.pkl
.env
result
.idea
.vscode
**/*.zip
gpt
data
**/*.shp
**/*.shx
**/*.dbf
**/*.prj
**/*.cpg
**/*.qmd
**/*.qix
**/*.geojson
**/*.csv
**/*.log
**/*.feather
**/*.pdf

**.DS_Store

comparison