.history
history_data
**/__pycache__
**/*.pyc
**/*.pth
**/*.txt
**/*.h5
**/*.json
**/*.bin
**/*.lst
**/*.png
**/*.pkl
.env
result
.idea
.vscode
**/*.zip
gpt
data
**/*.shp
**/*.shx
**/*.dbf
**/*.prj
**/*.cpg
**/*.geojson
**/*.csv
**/*.log
**/*.feather